Mejoremos nuestra práctica del capítulo anterior y resolvamos algunas tareas más del Banco ABC.

El banco analizó la lista de sus clientes y encontró más clientes de interés para prestar servicios bancarios privilegiados. Se agregaron a nuestra lista anterior.

```python
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
]

```

### Ejercicio 1

Los departamentos de seguridad del banco no quedaron satisfechos con la forma en la que presentamos la lista de clientes la última vez. Esta vez nos pidieron que proporcionáramos los nombres de los clientes imprimiendo cada nombre en una línea separada.

Haz un bucle en la lista de clientes y muestra sus nombres.

In [4]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
]

for client in clients:
    print(client[1])

Jack Wilson
Nina Brown
Alex Smith
Brian Perez
Sarah Lee
David Kim
Samantha Chen
Juan Rodriguez

### Ejercicio 2

El departamento de marketing del Banco ABC está interesado en conocer la edad promedio de su clientela. La edad promedio es simplemente la suma de las edades de todos los clientes dividida entre la cantidad de clientes. Utiliza el bucle for para iterar sobre la lista `clients` y actualiza las variables `total_age` y `num_clients` en cada iteración del bucle.

La variable `total_age` debe almacenar la suma de edades, mientras que la variable `num_clients` se usa para almacenar el número total de clientes.

Las variables `total_age` y `num_clients` ya están declaradas para que hagas tus cálculos con ellas. Tras recorrer la lista y actualizar estas dos variables, calcula la edad promedio de todos los clientes, almacénala en la variable `average_age` y muéstrala.

In [16]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"]
]

total_age = 0
num_clients = 0

for client in clients:
    total_age += client[2]
    num_clients += 1

average_age = total_age/num_clients
print(average_age)

35.25

### Ejercicio 3

La gerencia está interesada en saber cuándo un cliente alcanza un millón en ingresos totales y te pidieron que escribieras un código que calcule la cantidad de años que necesita un cliente para alcanzar este número. Para empezar, te pidieron que probaras tu código para `'Jack Wilson'`, que gana `150000` al año. Escribe un bucle `while` que sume los ingresos anuales totales de Jack hasta que llegue a un millón. Una vez que lo alcance, muestra el número de años que tardó en alcanzar este ingreso total.

In [18]:
annual_income = 150000 # ingreso anual de Jack
target_income = 1000000 # ingreso objetivo

total_income_sum = 0 # ingresos totales que se actualizarán para cada año
years_to_million = 0 # cantidad de años que también se actualizará

while total_income_sum < target_income:
    total_income_sum += annual_income
    years_to_million += 1

print(years_to_million)

7

### Ejercicio 4

El Banco ABC ha presentado una nueva cuenta Elite diseñada para clientes y clientas de alto poder adquisitivo que ganan más de `$200 000` al año. Escribe código para iterar sobre los clientes, comprueba que sus ingresos anuales superen los `$200 000` y agrega la sublista sobre un cliente elegible a la variable `elite_clients`, que es una lista de clientes ricos. Muestra la variable `elite_clients` al final.

In [32]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"]
]

elite_clients = [] # añade la variable elite_clients aquí

for client in clients:
   if client[3] > 200000:
    elite_clients.append(client)
    
print(elite_clients)

[[34591, 'Nina Brown', 45, 250000, 'Telecom'], [37512, 'Alex Smith', 39, 210000, 'IT'], [39591, 'Brian Perez', 29, 340000, 'Transportation'], [49571, 'Samantha Chen', 42, 220000, 'Retail']]

### Ejercicio 5

El departamento de marketing quiere una lista de todos los clientes del banco, dividida en cuatro segmentos de cuenta. Te han pedido que les presentes la lista. Divide a todos los clientes del Banco ABC en cuatro segmentos: la cuenta Standard para los clientes con ingresos inferiores a `$100 000` (exclusive), la cuenta Plus para ingresos de `$100 000` (inclusive) a `$200 000` (exclusive), la cuenta Elite para ingresos de `$200 000` (inclusive) a `$300 000` (exclusive), y la cuenta Executive para ingresos de `$300 000` (inclusive) o más.

En el precódigo a continuación, verás cuatro variables con las listas: `standard`, `plus`, `elite` y `executive`. Escribe código para iterar sobre los clientes, comprueba a qué categoría pertenecen sus ingresos y agrégalos a la lista correspondiente. Muestra la lista de clientes executive al final.

In [44]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

standard = []
plus = []
elite = []
executive = []

for client in clients:
    if client[3] < 100000:
        standard.append(client)
    elif client[3] < 200000:
        plus.append(client)
    elif client[3] < 300000:
        elite.append(client)
    else:
        executive.append(client)

print(executive)

[[39591, 'Brian Perez', 29, 340000, 'Transportation'], [101321, 'Olivia Wilson', 44, 310000, 'Telecom'], [107512, 'Michael Perez', 53, 415000, 'Transportation']]

### Ejercicio 6

Es el Día de la Juventud y el equipo de marketing desea enviar un correo electrónico para atraer a nuestros clientes jóvenes.

Para mejorar la solución anterior, debemos actualizar los criterios de edad para identificar a los clientes jóvenes.

Hemos actualizado el código anterior con las nuevas categorías juveniles, pero necesitas añadir filtros de **edad** a tus filtros de **ingresos** previos para que funcionen como se espera. Las reglas son las siguientes:

`standard_young`:

Ingreso anual inferior a `$100 000` (exclusive) **Y** la edad es menor a 40 años (exclusive).

`plus_young`:

Ingreso anual de `$100 000` (inclusive) a `$200 000` (exclusive) **Y** la edad es menor a 35 años (exclusive).

`elite_young`:

Ingreso anual de `$200 000` (inclusive) a `$300 000` (exclusive) **Y** la edad es menor a 35 años (exclusive).

`executive_young`:

Ingreso anual superior a `$300 000` (inclusive) **Y** la edad es menor a 35 años (exclusive).

Por favor, proporciona listas actualizadas con base en estas reglas y luego mostrar de nuevo solo la lista incluyendo los clientes "executive young".

Los comentarios que aparecen en el precódigo te ayudarán a realizar los cambios necesarios. Por favor, préstales atención. Si tienes dificultades, no dudes en consultar la pista que te hemos dejado.

In [52]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

standard_young = []
plus_young = []
elite_young = []
executive_young = []

for client in clients:
    if client[3] < 100000 and client[2] < 40:
        standard_young.append(client)
    elif client[3] < 200000 and client[2] < 35:
        plus_young.append(client)
    elif client[3] < 300000 and client[2] < 35:
        elite_young.append(client)
    else: 
        client[2] < 35
        executive_young.append(client)
print(executive_young)

[[34591, 'Nina Brown', 45, 250000, 'Telecom'], [37512, 'Alex Smith', 39, 210000, 'IT'], [39591, 'Brian Perez', 29, 340000, 'Transportation'], [47635, 'David Kim', 36, 180000, 'Finance'], [49571, 'Samantha Chen', 42, 220000, 'Retail'], [74512, 'Emma Davis', 47, 197000, 'Finance'], [101321, 'Olivia Wilson', 44, 310000, 'Telecom'], [104556, 'William Brown', 38, 289000, 'Finance'], [107512, 'Michael Perez', 53, 415000, 'Transportation']]

### Ejercicio 7

El equipo de gestión del Banco ABC te ha pedido que reorganices nuestra lista de clientes para que puedan acceder a los datos con mayor facilidad.

En el siguiente precódigo, hemos inicializado una lista llamada `clients_dict`. Tu objetivo es llenar esta lista con diccionarios, donde cada diccionario contiene información sobre un cliente de la lista `clients`. En otras palabras, queremos que transformes cada lista de la lista `clients` en un diccionario y adjuntes este diccionario a la lista `clients_dict`.

Utiliza las siguientes claves para cada diccionario que crees y adjuntes:

| "id" |
| --- |
| "client_name" |
| "age" |
| "yearly_income" |
| "work_field" |

In [1]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

for client in clients:
    diccionario = {
    'id':clients[0],'client_name':clients[1],
    'age':clients[2],'yearly_income':clients[3],
    'work_field':clients[4]
}
print(diccionario)

{'id': [32456, 'Jack Wilson', 32, 150000, 'Healthcare'], 'client_name': [34591, 'Nina Brown', 45, 250000, 'Telecom'], 'age': [37512, 'Alex Smith', 39, 210000, 'IT'], 'yearly_income': [39591, 'Brian Perez', 29, 340000, 'Transportation'], 'work_field': [45123, 'Sarah Lee', 28, 120000, 'Marketing']}

### Ejercicio 8

A continuación, el departamento de marketing de ABC se interesa por el nivel de ingresos de cada área en el que trabajan sus clientes. Te pidieron que recopilaras los ingresos de la clientela para cada área.

En el precódigo, de forma similar al ejercicio anterior, verás de nuevo la lista `clients`. Aquí la tienes por si quieres mirarla de nuevo:

```python
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]
```

Además de eso, en el precódigo, inicializamos un diccionario llamado `incomes_per_field`. Tu objetivo es llenarlo. Las claves serán las áreas en las que trabajan los clientes de ABC y los valores serán listas con los ingresos de todos los clientes de ABC que trabajan en cada área correspondiente. A continuación se muestra un ejemplo de un par clave-valor:

```python
"Healthcare": [150000, 193000]
```

La clave es el área (`"Healthcare"`) y los valores son dos ingresos de dos clientes de la lista `clients` que trabajan en `"Healthcare"` (Salud).

Para llenar el diccionario `incomes_per_field`, itera sobre la lista `clients` y extrae el nombre del área y los ingresos de cada cliente. A continuación, comprueba si el área extraído existe en el diccionario `incomes_per_filed`:

- Si no es así, agrégalo como clave y establece una lista con un único ingreso como valor.
- Si existe, añade el ingreso a la lista de ingresos.

In [16]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

incomes_per_field = {}

for client in clients:
    field = client[4]
    income = client[3]
if incomes_per_field.get(field) == None:
    incomes_per_field[field] = [income]
else:
    incomes_per_field[field].append(income)
    
print(incomes_per_field)

{'Transportation': [415000]}

### Ejercicio 9

Empecemos por escribir una función llamada `filter_clients` para filtrar la lista de clientes por el área de trabajo del cliente. Esta función recibirá dos parámetros: `clients_list` (la lista de clientes) y `field` (el área a buscar). La función recorrerá cada cliente de la lista y, si encuentra un cliente con el área especificado, añadirá la información sobre este cliente a una nueva lista. Esta lista se devolverá como resultado de la ejecución de la función cuando concluya.

Para probar, llama a la función para el área `"Transportation"`. A continuación, imprime la lista filtrada (ya en el precódigo).

In [26]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

# crea aquí tu función filter_clients
def filter_clients (clients_list, field):
    result = []
    for client in clients_list:
        if field in client[4]:
            result.append(client)
    return result
    
filtered_list  = filter_clients(clients, "Transportation")

# muestra el resultado aquí
print(filtered_list)

[[39591, 'Brian Perez', 29, 340000, 'Transportation'], [83191, 'Sophia Perez', 34, 225000, 'Transportation'], [107512, 'Michael Perez', 53, 415000, 'Transportation']]

### Ejercicio 10

¡Vamos a hacerlo aún más flexible! Escribe otras dos funciones similares a la anterior y llámalas así:

- `filter_age()` y
- `filter_income()`

En la primera, utilizaremos como filtro la edad con el valor por defecto de 0 mientras que en la segunda función, utilizaremos como filtro los ingresos con un valor por defecto también fijado en 0.

Establece `clients` como valor por defecto en el parámetro `clients_list` para ambas funciones de la misma forma que hiciste en la tarea anterior.

Ambas funciones deben filtrar los clientes que tienen valores mayores que el valor pasado como argumento en la llamada a la función.

Llama a la función `filter_age()` y filtra la lista `clients`, extrayendo los datos de clientes que son mayores de 40 años. Guarda los resultados en la variable `filtered_age`.

De la misma manera, llama a la función `filter_income()` y filtra la lista `clients`, extrayendo solo los clientes que tengan ingresos superiores a 250 000. Guarda los resultados en la variable `filtered_income`.

Imprime las variables `filered_age` y `filtered_income` (ya en el precódigo).

In [22]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

def filter_age(age, clients_list):
    result=[]
    for client in clients_list:
        if age < client[2]:
            result.append(client)
    return result
    
def filter_income(income, clients_list):
    result=[]
    for client in clients_list:
        if income < client[3]:
            result.append(client)
    return result

filtered_age = filter_age(40,clients)
filtered_income = filter_income(250000, clients)

# muestra el resultado
print(filtered_age)
print(filtered_income)

[[34591, 'Nina Brown', 45, 250000, 'Telecom'], [49571, 'Samantha Chen', 42, 220000, 'Retail'], [74512, 'Emma Davis', 47, 197000, 'Finance'], [101321, 'Olivia Wilson', 44, 310000, 'Telecom'], [107512, 'Michael Perez', 53, 415000, 'Transportation']]
[[39591, 'Brian Perez', 29, 340000, 'Transportation'], [101321, 'Olivia Wilson', 44, 310000, 'Telecom'], [104556, 'William Brown', 38, 289000, 'Finance'], [107512, 'Michael Perez', 53, 415000, 'Transportation']]

Mejoremos nuestra práctica del capítulo anterior y resolvamos algunas tareas más del Banco ABC.

El banco analizó la lista de sus clientes y encontró más clientes de interés para prestar servicios bancarios privilegiados. Se agregaron a nuestra lista anterior.

```python
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
]

```

### Ejercicio 1

Los departamentos de seguridad del banco no quedaron satisfechos con la forma en la que presentamos la lista de clientes la última vez. Esta vez nos pidieron que proporcionáramos los nombres de los clientes imprimiendo cada nombre en una línea separada.

Haz un bucle en la lista de clientes y muestra sus nombres.

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
]

for client in clients:
    print(client[1])

### Ejercicio 2

El departamento de marketing del Banco ABC está interesado en conocer la edad promedio de su clientela. La edad promedio es simplemente la suma de las edades de todos los clientes dividida entre la cantidad de clientes. Utiliza el bucle for para iterar sobre la lista `clients` y actualiza las variables `total_age` y `num_clients` en cada iteración del bucle.

La variable `total_age` debe almacenar la suma de edades, mientras que la variable `num_clients` se usa para almacenar el número total de clientes.

Las variables `total_age` y `num_clients` ya están declaradas para que hagas tus cálculos con ellas. Tras recorrer la lista y actualizar estas dos variables, calcula la edad promedio de todos los clientes, almacénala en la variable `average_age` y muéstrala.

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"]
]

total_age = 0
num_clients = 0

for client in clients:
    total_age += client[2]
    num_clients += 1

average_age = total_age / num_clients

print(average_age)

### Ejercicio 3

La gerencia está interesada en saber cuándo un cliente alcanza un millón en ingresos totales y te pidieron que escribieras un código que calcule la cantidad de años que necesita un cliente para alcanzar este número. Para empezar, te pidieron que probaras tu código para `'Jack Wilson'`, que gana `150000` al año. Escribe un bucle `while` que sume los ingresos anuales totales de Jack hasta que llegue a un millón. Una vez que lo alcance, muestra el número de años que tardó en alcanzar este ingreso total.

In [ ]:
annual_income = 150000 # ingreso anual de Jack
target_income = 1000000 # ingreso objetivo

total_income_sum = 0 # ingresos totales que se actualizarán para cada año
years_to_million = 0 # cantidad de años que también se actualizará

while total_income_sum < target_income:
		total_income_sum += annual_income
		years_to_million += 1

print(years_to_million)

### Ejercicio 4

El Banco ABC ha presentado una nueva cuenta Elite diseñada para clientes y clientas de alto poder adquisitivo que ganan más de `$200 000` al año. Escribe código para iterar sobre los clientes, comprueba que sus ingresos anuales superen los `$200 000` y agrega la sublista sobre un cliente elegible a la variable `elite_clients`, que es una lista de clientes ricos. Muestra la variable `elite_clients` al final.

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"]
]

elite_clients = []

for client in clients:
    if client[3] > 200000:
        elite_clients.append(client)


print(elite_clients)

### Ejercicio 5

El departamento de marketing quiere una lista de todos los clientes del banco, dividida en cuatro segmentos de cuenta. Te han pedido que les presentes la lista. Divide a todos los clientes del Banco ABC en cuatro segmentos: la cuenta Standard para los clientes con ingresos inferiores a `$100 000` (exclusive), la cuenta Plus para ingresos de `$100 000` (inclusive) a `$200 000` (exclusive), la cuenta Elite para ingresos de `$200 000` (inclusive) a `$300 000` (exclusive), y la cuenta Executive para ingresos de `$300 000` (inclusive) o más.

En el precódigo a continuación, verás cuatro variables con las listas: `standard`, `plus`, `elite` y `executive`. Escribe código para iterar sobre los clientes, comprueba a qué categoría pertenecen sus ingresos y agrégalos a la lista correspondiente. Muestra la lista de clientes executive al final.

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

standard = []
plus = []
elite = []
executive = []

for client in clients:
    if client[3] < 100000:
        standard.append(client)
    elif client[3] < 200000:
        plus.append(client)
    elif client[3] < 300000:
        elite.append(client)
    else:
        executive.append(client)

print(executive)

### Ejercicio 6

Es el Día de la Juventud y el equipo de marketing desea enviar un correo electrónico para atraer a nuestros clientes jóvenes.

Para mejorar la solución anterior, debemos actualizar los criterios de edad para identificar a los clientes jóvenes.

Hemos actualizado el código anterior con las nuevas categorías juveniles, pero necesitas añadir filtros de **edad** a tus filtros de **ingresos** previos para que funcionen como se espera. Las reglas son las siguientes:

`standard_young`:

Ingreso anual inferior a `$100 000` (exclusive) **Y** la edad es menor a 40 años (exclusive).

`plus_young`:

Ingreso anual de `$100 000` (inclusive) a `$200 000` (exclusive) **Y** la edad es menor a 35 años (exclusive).

`elite_young`:

Ingreso anual de `$200 000` (inclusive) a `$300 000` (exclusive) **Y** la edad es menor a 35 años (exclusive).

`executive_young`:

Ingreso anual superior a `$300 000` (inclusive) **Y** la edad es menor a 35 años (exclusive).

Por favor, proporciona listas actualizadas con base en estas reglas y luego mostrar de nuevo solo la lista incluyendo los clientes "executive young".

Los comentarios que aparecen en el precódigo te ayudarán a realizar los cambios necesarios. Por favor, préstales atención. Si tienes dificultades, no dudes en consultar la pista que te hemos dejado.

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

standard_young = []
plus_young = []
elite_young = []
executive_young = []

for client in clients:
    if client[3] < 100000 and client[2] <= 40:
        standard_young.append(client)
    elif client[3] < 200000 and client[2] <= 35:
        plus_young.append(client)
    elif client[3] < 300000 and client[2] <= 35:
        elite_young.append(client)
    elif client[3] > 300000 and client[2] <= 35:
        executive_young.append(client)

print(executive_young)

### Ejercicio 7

El equipo de gestión del Banco ABC te ha pedido que reorganices nuestra lista de clientes para que puedan acceder a los datos con mayor facilidad.

En el siguiente precódigo, hemos inicializado una lista llamada `clients_dict`. Tu objetivo es llenar esta lista con diccionarios, donde cada diccionario contiene información sobre un cliente de la lista `clients`. En otras palabras, queremos que transformes cada lista de la lista `clients` en un diccionario y adjuntes este diccionario a la lista `clients_dict`.

Utiliza las siguientes claves para cada diccionario que crees y adjuntes:

| "id" |
| --- |
| "client_name" |
| "age" |
| "yearly_income" |
| "work_field" |

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

for client in clients:
    client_info = {"id": client[0],
                   "client_name": client[1],
                   "age": client[2],
                   "yearly_income": client[3],
                   "work_field": client[4]}
    print(client_info)

### Ejercicio 8

A continuación, el departamento de marketing de ABC se interesa por el nivel de ingresos de cada área en el que trabajan sus clientes. Te pidieron que recopilaras los ingresos de la clientela para cada área.

En el precódigo, de forma similar al ejercicio anterior, verás de nuevo la lista `clients`. Aquí la tienes por si quieres mirarla de nuevo:

```python
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]
```

Además de eso, en el precódigo, inicializamos un diccionario llamado `incomes_per_field`. Tu objetivo es llenarlo. Las claves serán las áreas en las que trabajan los clientes de ABC y los valores serán listas con los ingresos de todos los clientes de ABC que trabajan en cada área correspondiente. A continuación se muestra un ejemplo de un par clave-valor:

```python
"Healthcare": [150000, 193000]
```

La clave es el área (`"Healthcare"`) y los valores son dos ingresos de dos clientes de la lista `clients` que trabajan en `"Healthcare"` (Salud).

Para llenar el diccionario `incomes_per_field`, itera sobre la lista `clients` y extrae el nombre del área y los ingresos de cada cliente. A continuación, comprueba si el área extraído existe en el diccionario `incomes_per_filed`:

- Si no es así, agrégalo como clave y establece una lista con un único ingreso como valor.
- Si existe, añade el ingreso a la lista de ingresos.

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

incomes_per_field = {}

for client in clients:
	field = client[4]
	income = client[3]
	if incomes_per_field.get(field) == None:
		incomes_per_field[field] = [income]
	else:
		incomes_per_field[field].append(income)


# no modifiques el código de abajo, ya que imprime el resultado
print(incomes_per_field)

### Ejercicio 9

Empecemos por escribir una función llamada `filter_clients` para filtrar la lista de clientes por el área de trabajo del cliente. Esta función recibirá dos parámetros: `clients_list` (la lista de clientes) y `field` (el área a buscar). La función recorrerá cada cliente de la lista y, si encuentra un cliente con el área especificado, añadirá la información sobre este cliente a una nueva lista. Esta lista se devolverá como resultado de la ejecución de la función cuando concluya.

Para probar, llama a la función para el área `"Transportation"`. A continuación, imprime la lista filtrada (ya en el precódigo).

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]


# crea aquí tu función filter_clients
def filter_clients(clients_list, field):
    result = []
    for client in clients_list:
        if field in client[4]:
            result.append(client)
    return result

filtered_list = filter_clients(clients, "Transportation")

# muestra el resultado aquí
print(filtered_list)

### Ejercicio 10

¡Vamos a hacerlo aún más flexible! Escribe otras dos funciones similares a la anterior y llámalas así:

- `filter_age()` y
- `filter_income()`

En la primera, utilizaremos como filtro la edad con el valor por defecto de 0 mientras que en la segunda función, utilizaremos como filtro los ingresos con un valor por defecto también fijado en 0.

Establece `clients` como valor por defecto en el parámetro `clients_list` para ambas funciones de la misma forma que hiciste en la tarea anterior.

Ambas funciones deben filtrar los clientes que tienen valores mayores que el valor pasado como argumento en la llamada a la función.

Llama a la función `filter_age()` y filtra la lista `clients`, extrayendo los datos de clientes que son mayores de 40 años. Guarda los resultados en la variable `filtered_age`.

De la misma manera, llama a la función `filter_income()` y filtra la lista `clients`, extrayendo solo los clientes que tengan ingresos superiores a 250 000. Guarda los resultados en la variable `filtered_income`.

Imprime las variables `filered_age` y `filtered_income` (ya en el precódigo).

In [ ]:
clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

def filter_age(age, clients_list):
    result = []
    for client in clients_list:
        if age < client[2]:
            result.append(client)
    return result

def filter_income(income, clients_list):
    result = []
    for client in clients_list:
        if income < client[3]:
            result.append(client)
    return result

# llama a las funciones mejoradas
filtered_age = filter_age(40, clients)
filtered_income = filter_income(250000, clients)

# muestra el resultado
print(filtered_age)
print(filtered_income)