
1.Encuentra el número total de visitantes y pedidos en cada grupo experimental. Almacena la tabla resultante en table y muestra esta variable. No cambies el precódigo.

In [ ]:
import pandas as pd

data = pd.read_csv('/datasets/data_3-3.csv', sep=',')

print(data.head(5))

table = (
    data.drop(['date'], axis=1)
    .groupby('group', as_index=False)
    .agg({'visitors': 'sum', 'orders': 'sum'}))


print(table)

date group  visitors  orders
0  1/1/2019     A      1002      11
1  1/2/2019     A       978      10
2  1/3/2019     A       966      10
3  1/4/2019     A      1035      11
4  1/5/2019     A      1019      11
  group  visitors  orders
0     A     30892     325
1     B     30695     383


2.Encuentra la relación entre el número de pedidos y el número de visitantes para cada grupo experimental. Añade los resultados a table, almacenándolos en la nueva columna orders_to_visitors_ratio. 

Redondea los valores a cuatro puntos decimales. Muestra table.

In [ ]:
import pandas as pd

data = pd.read_csv('/datasets/data_3-3.csv', sep=',')

print(data.head(5))

table = (
    data.drop(['date'], axis=1)
    .groupby('group', as_index=False)
    .agg({'visitors': 'sum', 'orders': 'sum'})
)
table['orders_to_visitors_ratio'] = (table['orders'] / table['visitors']).map(lambda x: "{0:.4f}".format(x))

print(table)

Resultado
       date group  visitors  orders
0  1/1/2019     A      1002      11
1  1/2/2019     A       978      10
2  1/3/2019     A       966      10
3  1/4/2019     A      1035      11
4  1/5/2019     A      1019      11
  group  visitors  orders orders_to_visitors_ratio
0     A     30892     325                   0.0105
1     B     30695     383                   0.0125