In [ ]:
name_surname = 'Joseph_Kobe_Steeler '
name_surname = name_surname.strip()
name_surname = name_surname.replace('_',' ')

print(name_surname)

In [ ]:
name_surname = 'Joseph Kobe Steeler'
name_split = name_surname.split(' ')
print(name_split)

In [ ]:
age = '74'

print(type(age))
age = int(age)

print(age)
print(type(age))

In [ ]:
age = 'seventy four'

try:
    age = int(age)
except:
    print('La edad debe ser un valor numÃ©rico.')

In [8]:
citizen_CA = [-465, 156, -567, -6051, 8607]

total_amount = sum(citizen_CA)
print(total_amount)

1680

In [3]:
clients = [
    [32456, 'Jack Wilson', 32, 150000, 'Healthcare'],
    [34591, 'Nina Brown', 45, 250000, 'Telecom']
]

client_income = clients[1][3]
print(client_income)

250000

In [5]:
names = 'Jack Wilson,Nina Brown,Alex Smith,Brian Perez,David Martinez,John Kim'

names_split = names.split(',')

print(names_split)

['Jack Wilson', 'Nina Brown', 'Alex Smith', 'Brian Perez', 'David Martinez', 'John Kim']

In [7]:
print.clear

AttributeError: 'builtin_function_or_method' object has no attribute 'clear'

In [9]:
clear

In [23]:
user_name = ' mike_reed '
user_name = user_name.strip().replace('_',' ')


print(user_name)

mike reed

In [27]:
user_name = 'mike reed'
name_split = user_name.split()

print(name_split)

['mike', 'reed']

In [43]:
user_age = 32.0
user_age = int(user_age)
print(user_age)

32

In [45]:
user_age = 'treinta y dos'
try:
    user_age_int = int(user_age)
except:
    message='Please provide your age as a numerical value'
    print(message)

Please provide your age as a numerical value

In [53]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]
users.sort()
print(users)

[['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]], ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]

In [55]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category)

print(total_amount)

1280

In [57]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

user_info =f'User {user_id} is {user_name[0]} who is {user_age} years old.'
print(user_info)

User 32415 is mike who is 32 years old.

In [79]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]


user_info = f'Hemos registrado datos de {len(users)} clientes.'
print(user_info)

Hemos registrado datos de 10 clientes.

In [181]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
]

users_clean = []

# Procesa al primer usuario
user_name_1 = users[0][1].strip().replace('_',' ')
user_age_1 = int(users[0][2])
user_name_1 = user_name_1.split()
users_clean.append([users[0][0],user_name_1,user_age_1,users[0][3],users[0][4]])

# Procesa al segundo usuario
user_name_2 = users[1][1].strip().replace('_',' ')
user_age_2 = int(users[1][2])
user_name_2 = user_name_2.split()
users_clean.append([users[1][0],user_name_2,user_age_2,users[1][3],users[1][4]])

# Procesa al tercer usuario
user_name_3 = users[2][1].strip().replace('_',' ')
user_age_3 = int(users[2][2])
user_name_3 = user_name_3.split()
users_clean.append([users[2][0],user_name_3,user_age_3,users[2][3],users[2][4]])

print(users_clean)

[['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['CLOTHES', 'BOOKS'], [439, 390]], ['32156', ['john', 'doe'], 37, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]]]